# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
John Napiorkowski <jjnapiork@cpan.org> John Napiorkowski <jjn1056@yahoo.com>
John Napiorkowski <jjnapiork@cpan.org> John Napiorkowski <johnn@John-Napiorkowski-MacBook-Pro.local>
John Napiorkowski <jjnapiork@cpan.org> John Napiorkowski <johnn@new-host.home>
John Napiorkowski <jjnapiork@cpan.org> John Napiorkowski <johnn@ool-18e46e12.dyn.optonline.net>
John Napiorkowski <jjnapiork@cpan.org> john napiorkowski <jjn1056@john-napiorkowskis-computer.local>
Tomas (t0m) Doran <bobtfish@bobtfish.net> Tomas Doran <t0m@state51.co.uk>
Tomas (t0m) Doran <bobtfish@bobtfish.net> Tomas Doran (t0m) <t0m@state51.co.uk>
יובל קוג'מן (Yuval Kogman) <nothingmuch@woobling.org> Yuval Kogman <nothingmuch@woobling.org>
